.active{
  background-color: #0ea5e9; 
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05); 
  color: var(--color-primary-foreground, #fff); 
  border: 1px solid #e5e7eb; 
  transition: color 0.2s, background 0.2s, box-shadow 0.2s, cursor 0.2s;
  cursor: pointer;
    padding: 0.2rem .5rem;
    border-radius: 0.375rem;
}